%header
  %ul
    %i{:class => 'fa fa-shopping-cart'}
      %span.counter
.row
  .product--blue
    .product_inner
      %img{:src => 'http://wellandgood.com/wp-content/uploads/2012/07/Nike-Free-30-Womens-Running-Shoe-511495_600_A.png', :width => '300'}
      %p Nike Air (Women)
      %p Size 7
      %p Price £199.99
      %button Add to basket
    .product_overlay
      %h2 Added to basket
      %i{:class => 'fa fa-check'}

  .product--orange
    .product_inner
      %img{:src => 'http://wellandgood.com/wp-content/uploads/2012/07/Nike-Free-30-Womens-Running-Shoe-511495_600_A.png', :width => '300'}
      %p Nike Air (Men)
      %p Size 10
      %p Price £99.99
      %button Add to basket
    .product_overlay
      %h2 Added to basket
      %i{:class => 'fa fa-check'}
  .product--red
    .product_inner
      %img{:src => 'http://wellandgood.com/wp-content/uploads/2012/07/Nike-Free-30-Womens-Running-Shoe-511495_600_A.png', :width => '300'}
      %p Nike Air (Women)
      %p Size 8
      %p Price £399.99
      %button Add to basket
    .product_overlay
      %h2 Added to basket
      %i{:class => 'fa fa-check'}
  .product--green
    .product_inner
      %img{:src => 'http://wellandgood.com/wp-content/uploads/2012/07/Nike-Free-30-Womens-Running-Shoe-511495_600_A.png', :width => '300'}
      %p Nike Air (Men)
      %p Size 11
      %p Price £299.99
      %button Add to basket
    .product_overlay
      %h2 Added to basket
      %i{:class => 'fa fa-check'}
  .product--yellow
    .product_inner
      %img{:src => 'http://wellandgood.com/wp-content/uploads/2012/07/Nike-Free-30-Womens-Running-Shoe-511495_600_A.png', :width => '300'}
      %p Nike Air (Women)
      %p Size 11
      %p Price £299.99
      %button Add to basket
    .product_overlay
      %h2 Added to basket
      %i{:class => 'fa fa-check'}
  .product--pink
    .product_inner
      %img{:src => 'http://wellandgood.com/wp-content/uploads/2012/07/Nike-Free-30-Womens-Running-Shoe-511495_600_A.png', :width => '300'}
      %p Nike Air (Men)
      %p Size 11
      %p Price £299.99
      %button Add to basket
    .product_overlay
      %h2 Added to basket
      %i{:class => 'fa fa-check'}
